* {
    font-family: "SF Pro Text", "JetBrainsMono Nerd Font Propo", sans-serif;
    font-size: 12px;
    font-weight: bold;
} 

window#waybar {
    background-color: transparent;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    /* Avoid rounded borders under each button name */
    box-shadow: inset 0 -3px transparent;
    border: none;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -2px transparent;
}

#workspaces button {
    transition: 0.2s ease-in-out;
    background-color: transparent;
    color: #FF687B;
    /* background-color: red; */
    padding: 0 4px;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    border-bottom: 1 solid #FF687B;
    border-radius: 0;
}

#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #31A2B7;
}

#workspaces button.active {
    border-bottom: 1 solid #FF687B;
    border-radius: 0;
    color: #FF687B;
}

#workspaces button.empty {
    color: #31A2B7;
}

#workspaces button.empty.active {
    border-bottom: 1 solid #FF687B;
    border-radius: 0;
    color: #FF687B;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#custom-power,
#mpris
#mpd {
    padding: 0 6px;
    color: #FF687B; /* #190E2E */
    margin: 0 4px;
}

#network.disconnected,
#pulseaudio.muted,
#battery.critical,
#baterry.charging {
    color: #a80319;
}

#window,
#workspaces {
    margin: 0 4px;
}

.modules-right,
.modules-left{
    margin-right: 5px;
    color: #FF687B;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0px;  
}

#mpris,
#custom-weather {
    margin: 0 4px;
    padding: 0 6px;
}

#custom-power {
    padding: 0 6px;
    color: #FF687B; /* #190E2E */
    margin: 0 4px; 
}
